#user-profile {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0;
    object-fit: cover;
}

#user-price-toggle{
    display : none;
}

#user-links-toggle{
    display: none;
}

#user-info{
    margin: 2em;
    width: 60%;
}

